{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts  %}
        <a href="{{ url('app.front.default.show',{slug: post.slug}) }}">
            <div class="post-preview">

                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <p class="post-subtitle">
                    {{ post.content|truncate(15,true)|raw }}
                </p>

                <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.createdAt|date('Y-m-d H:i:s') }}</p>
            </div>
        </a>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts,"pagination.html.twig") }}
    </div>
{% endblock %}
