{% extends 'base.html.twig' %}

{% block header %}

    {{ post.title }}

{% endblock %}

{% block header_sub %}
    {{ post.createdAt|date('Y-m-d H:i:s') }}
{% endblock %}
{% block body %}


    <h1 class="text-center">{{ post.title }}</h1>

    <div class="tags">
        <strong>Tagi: </strong>
        {#{% for tag in post.tags  %}#}
            {#&#123;&#35;#{{ tag.name }},&#35;&#125;#}
            {#{{ tag }}#}
        {#{% endfor %}#}

        {{ post.tags|join(', ') }}
    </div>

    <p>
      {{ post.content }}
    </p>

    <div class="add_comment">
        <h3>Add comment:</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Dodaj">
        {{ form_end(form) }}

    </div>

    <div class="comments">
        <strong>Comments:</strong>
        {% for comment in post.comments %}
            <div style="border:1px solid #DDDDDD; padding:10px; margin-bottom:10px;;">
                <p>{{ comment.content }}</p>
                <small>{{ comment.name }}</small>
                <p><strong>{{ comment.createdAt|date('Y-m-d H:i:s') }}</strong></p>
            </div>
        {% else %}
            <strong>Brak komentarzy</strong>
        {% endfor %}
    </div>

{% endblock %}