{% extends '::base.html.twig' %}

{% block header %}
    <div class="post-heading">
        <h1>Login</h1>
    </div>
{% endblock %}

{% block body %}
    {% if error %}
        <label for="username" class="text-danger" style="display: inline-block;">{{ error.message|trans }}</label>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="POST" id="signin-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <div class="input-group input-group-in">
                <span class="input-group-addon text-muted">@</span>
                <input type="text" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="e-mail">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group input-group-in">
                <span class="input-group-addon text-muted"><i class="fa fa-circle-o"></i></span>
                <input type="password" class="form-control" name="_password" required="required" placeholder="password">
            </div>
        </div>

        <div class="form-group">
            <div class="nice-checkbox">
                <input class="checkbox-o" type="checkbox" name="_remember_me" value="on" id="keep-signin">
                <label for="keep-signin">{{ "Keep me sign in"|trans }}</label>
            </div>
        </div>

        <div class="form-group form-actions">
            <input type="submit" class="hidden-sm btn btn-primary" name="_submit" value="{{ "Sign In"|trans }}">
            <input type="submit" class="visible-sm btn btn-lg btn-block btn-primary" name="_submit" value="{{ "Sign In"|trans }}">
        </div>
    </form>
{% endblock %}